.nav{
    width: 100%;
    height: 50px;
    /* background-color: aqua; */
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.navleft, .navright{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navcenter{
    flex: 6;
}
.navimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.navicon{
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
    color: darkslategrey;
}
.navlist{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.navlistItem{
    margin-right: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
.navsearch{
    font-size: 20px;
    color: firebrick;
    cursor: pointer;
    margin-left: 15px;
}
.navlistItem  :hover{
    background-color: grey;
    color: white;
}