.header{
    margin-top: 60px;
}
.headerTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
.headerTitlesm{
    position: absolute;
    top: 20%;
    font-size: 30px;
    margin-top: 80px;
    display: flex;
    align-items: center;
}
.headerTitlelg{
    position: absolute;
    top: 20%;
    font-size: 100px;
    align-items: center;
    display: flex;
    margin-top: 100px;
    color: floralwhite;
}
.headerimg{
    width: 100%;
    height: 600px;
    margin: 0;
}